<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tieg O'Sullivan</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/light.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='images/css/main.css') }}"> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo0.png') }}">
</head>

<!-- <body style="background: url(../static/images/sitebg.jpg);"> -->
<!-- <body style="background: url({{ url_for('static', filename='images/sitebgw0.jpg') }})  no-repeat center fixed;"> -->
<body class="light-mode">
<div class="body-all light-mode">

    <header>
        <div class="mode light-mode">
            <div class="mode-btn"></div>
            <img src="../static/images/moon0.png" alt="" class="mode-img dark-mode">
            <img src="../static/images/sun.png" alt="" class="mode-img light-mode">
        </div>

        <div class="menu-toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <a href="/" class="nav-link">Home</a>
                    <!-- <a href="index.html" class="nav-link">Home</a> -->
                </li>
                <li>
                    <a href="#about" class="nav-link about-link">About</a>
                </li>
                <li>
                    <a href="#portfolio" class="nav-link">Projects</a>
                </li>
                <li>
                    <a href="#services" class="nav-link">Skills</a>
                </li>
                <li>
                    <a href="#experience" class="nav-link">Experience</a>
                </li>
                <li>
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="landing-text">
            <h1>Tieg </h1>
            <h1>O'Sullivan</h1>
            <h6>I'm
            <span class="txt-type" data-wait="3000ms" data-words='["a software developer", "passionate", "always learning"]'></span>

            </h6>
            <h1></h1>
        </div>
    </header>

    <!-- <div>
        <h1>Tieg is
            <span class="txt-type" data-wait="1000ms" data-words='["Developer", "Designer", "Enthusiast"]'></span>
        </h1>
        <h2>Welcome to my website</h2>
    </div> -->

    <section class="about" id="about">
        <!-- <div class="about-heading" style="display: block; margin-top: 100px;">
            <h1>About</h1>
            <h6>Myself</h6>
        </div> -->
        <div class="section-heading">
            <h1>About</h1>
            <h6>Myself</h6>
        </div>
        <div class="container">
            <div class="profile-img" data-aos="fade-right" data-aos-delay="300">
                <img src="../static/images/me3.jpg" alt="">
                <!-- <img src="{{ url_for('static', filename='images/images/profile1.jpg') }}" alt=""> -->
            </div>
            <div class="about-details" data-aos="fade-left" data-aos-delay="600">

                <p>
                    I am a hard-working software engineer.
                    I am always looking to improve my skills
                    through challenging
                    opportunities. I'm never without a project
                    for long, constantly keeping my skills up
                    to date and my passion burning.
                </p>
                <br>
                <p>
                    I started coding in 2015 and haven't looked
                    back since.I am currently pursuing my BSc in
                    Computer Science at Stellenbosch University.
                    I will be graduating in December 2021. I have
                    a further goal of qualifying and completing my
                    honours in Computer Science by December 2022.
                </p>
                <br>
                <p>
                    On a personal note: I love good food and time
                    with friends/family. I thoroughly enjoy getting
                    out of the house and doing something active -
                    although I might need a push every now and then.
                </p>

                <div class="social-media">
                    <ul class="nav-list">
                        <li>
                            <a href="https://github.com/Outige" class="icon-link" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:tiegosullivanpsnl@gmail.com" class="icon-link" target="_blank">
                                <i class="fa fa-envelope-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="../static/documnets/cv.pdf" class="icon-link" target="_blank">
                            <!-- <a href="documnets/cv.pdf" class="icon-link" target="_blank"> -->
                                <i class="fa fa-file"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="section-heading">
                <h1>Projects</h1>
                <h6>See some of my recent work</h6>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-img-0 portfolio-img has-margin-right portfolio-img-zoom-off on-first-click" data-aos="fade-right" data-aos-delay="300">
                    <img src="{{ url_for('static', filename='images/play4.png') }}" class="default-static state-active state-on" id="project-img-0">
                    <img src="../static/images/project0.gif" class="default-active state-active state-off" id="project-img-1">
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                    <h6>Envelope</h6>
                    <h1>Message Board Web App</h1>
                    <ul class="project-skills">
                        <li>Python</li>
                        <li>Flask</li>
                        <li>Jinja2</li>
                        <li>Sql</li>
                        <li>Html5</li>
                        <li>Css3</li>
                        <li>Web hosting</li>
                    </ul>
                    <div class="project-0-links">
                        <a href="https://tieg-app0.herokuapp.com/" target="_blank" class="cta"><i class="fa fa-link" aria-hidden="true"></i></a>
                        <a href="https://github.com/Outige/flask-msg-board" target="_blank" class="cta"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                    <h6>GitHub Account Rater</h6>
                    <h1>
                        Software to rate the
                        strength of a developer's
                        github account
                    </h1>
                    <ul class="project-skills">
                        <li>Python</li>
                        <li>Web scraping</li>
                        <li>
                            Collaboration with
                            a data scientist
                        </li>
                    </ul>
                    <div class="project-1-links">
                        <a href="https://github.com/conorosully/github-rater" target="_blank" class="cta"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
                <div class="portfolio-img-1 portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
                    <img src="../static/images/github0.png" id="project-img-2">
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-img-3 portfolio-img has-margin-right portfolio-img-zoom-off on-first-click" data-aos="fade-right" data-aos-delay="300">
                    <img src="{{ url_for('static', filename='images/play4.png') }}" class="default-static state-active state-on" id="project-img-3">
                    <img src="../static/images/project1.gif" class="default-active state-active state-off" id="project-img-4">
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                    <h6>Run Journey</h6>
                    <h1>
                        Harvard cs50 course project
                    </h1>
                    <ul class="project-skills">
                        <li>bootstrap</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Responsive</li>
                    </ul>
                    <div class="project-0-links">
                        <a href="https://outige.github.io/cs50-project0/index.html" target="_blank" class="cta"><i class="fa fa-link" aria-hidden="true"></i></a>
                        <a href="https://github.com/Outige/cs50-project0" target="_blank" class="cta"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                    <h6>Personal website</h6>
                    <h1>
                        This website
                    </h1>
                    <ul class="project-skills">
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>CSS3</li>
                        <li>HTML5</li>
                        <li>Responsive</li>
                        <li>Flask wsgi serving</li>
                        <li>Hosting</li>
                        <li>Web mail</li>
                    </ul>
                    <div class="project-1-links">
                        <a href="https://github.com/Outige/portfolio" target="_blank" class="cta"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
                <div class="portfolio-img-1 portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
                    <img src="../static/images/site0.png" id="project-img-2">
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-img-1 portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
                    <img src="../static/images/loading1.png" id="project-img-2">
                </div>
                <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
                    <h6>horizon-12 (coming soon)</h6>
                    <h1>
                        SU hackathon
                    </h1>
                    <ul class="project-skills">
                        <li>Full stack fintech application</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section class="services" id="services">

        <div class="container">
            <div class="section-heading">
                <h1>My skills</h1>
                <h6>What I can do for you</h6>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="300">
                            <div class="icon-container">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </div>
                            <h1>Python</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>
            
                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="600">
                            <div class="icon-container">
                                <i class="fas fa-code"></i>
                            </div>
                            <h1>C</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="900">
                            <div class="icon-container">
                                <i class="fas fa-layer-group"></i>
                            </div>
                            <h1>SQL</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="1200">
                            <div class="icon-container">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </div>
                            <h1>HTML5</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="1500">
                            <div class="icon-container">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </div>
                            <h1>CSS3</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="my-skills">
                        <div class="skill" data-aos="fade-in" data-aos-delay="1800">
                            <div class="icon-container">
                                <i class="fab fa-github-square" aria-hidden="true"></i>
                            </div>
                            <h1>GIT</h1>
                            <!-- <p>Lorem ipsum dolor sit amet</p> -->
                        </div>
                    </div>
                </div>

        </div>

        <!-- <div class="container">
            <div class="section-heading">
                <h1>Services</h1>
                <h6>What I can do fo you</h6>
            </div>
            <div class="my-skills">
                <div class="skill" data-aos="fade-in" data-aos-delay="300">
                    <div class="icon-container">
                        <i class="fas fa-layer-group"></i>
                    </div>
                    <h1>Web design</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="my-skills">
                <div class="skill" data-aos="fade-in" data-aos-delay="600">
                    <div class="icon-container">
                        <i class="fas fa-code"></i>
                    </div>
                    <h1>Web dev</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="my-skills">
                <div class="skill" data-aos="fade-in" data-aos-delay="900">
                    <div class="icon-container">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <h1>Product Strategy</h1>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div> -->
    </section>

    <section class="experience" id="experience">
        <div class="container">
            <div class="section-heading">
                <h1>Experience</h1>
                <h6>Past and current jobs</h6>
            </div>
            <div class="timeline" data-aos="fade-down" data-aos-delay="300">
                <ul>
                    <li class="date" data-date="Jan 2019">
                        <h1>NEC XON</h1>
                        <p>Job Shadow</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <div class="section-heading">
                <h1>Contact</h1>
                <h6>Lets work together</h6>
            </div>
            <form action="/email/send" data-aos="fade-up" data-aos-delay="300" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email..." required>

                <label for="name">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject..." required>

                <label for="subject">Body</label>
                <textarea name="body" id="body" cols="10" rows="10" placeholder="Message body..." required></textarea>

                <input type="submit" value="Email me" class="boldff">

            
            </form>
        </div>
    </section>


    <footer class="copyright">
        <div class="up" id="up">
            <i class="fas fa-chevron-up"></i>
        </div>
        <p>&copy; 2020 Tieg O'Sullivan</p>
    </footer>

    <!-- <div class="todo">
        <ul style="font-size: 40px; list-style: circle; margin-left: 15px;">
            <li>gif play zoom transition</li>
            <li>frozen pane navbar</li>
            <li>better headings</li>
            <li>write up my skills</li>
            <li>Functional contact page</li>
            <li>Tool tips</li>
        </ul>
    </div> -->


    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/light.js"></script>
    <!-- <script src="{{ url_for('static', filename='images/js/main.js') }}"></script> -->
    <style>
        body.light-mode{
            background: url(../static/images/sitebgw7.jpg)  no-repeat center fixed;
        }
        body.dark-mode{
            background: url(../static/images/sitebg.jpg)  no-repeat center fixed;
        }
    </style>
</div>
</body>
</html>